*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.name{
    text-align: center;
    background-color: rgb(92, 121, 199);
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

.navigation {
    position: fixed;
    width: 100%;
}

.nav{
    display: flex;
    align-items: center;
    padding: 10px;
    flex: 1;
    text-align: center;
   

}
a{
    text-decoration: none;
    color: rgb(28, 97, 209);
    font-size: 30px;
    font-family: 'Oswald', sans-serif;
}

nav{
    flex: 1;
    text-align: center;
    padding: 20px;
    background-color: white;
}

nav ul{
    display: inline-block;
    list-style-type: none;

}
nav ul li{
    display: inline-block;
    margin-right: 20px;
}

.btn {
    display: inline-block;
    background: transparent;
    padding: 4px 2px;;
    border-radius: 12px;

}

.content .btn:hover{
    text-decoration:underline;
    border-style: none;
}

.btn:hover{
    border-style: dashed;
}


.cover {
    max-width: 100%;
    height: auto;
    background-image: url(../images/tower.JPG);
    background-size: 1450px;
   
}

.blank-container1{
    width: 100%;
    height: 400px;
}

.blank-container2{
    width: 100%;
    height: 200px;
}

.blank-container3{
    width: 100%;
    height: 80px;
}

.row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}

.row-1{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
    height: 318px;
}
.col{
    flex-basis: 50%;
    width: 50%;
    height: 90px;
    padding: 20px;
    font-family: 'Oswald', sans-serif;
    color:rgb(101, 50, 11);
   
}

.col{
    flex-basis: 50%;
    width: 50%;
    height: 381px;
    padding: 20px;
    font-family: 'Oswald', sans-serif;
    color:rgb(101, 50, 11);
   
}

.col p{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 25px;
}

.contents{
    font-family: 'Oswald', sans-serif;
}

.content {
    background-color: bisque;
    box-shadow: 10px 10px 8px #ba6205;
    padding-left: 30px;
    padding-right: 50px;
    padding-bottom: 30px;
    margin-right: 50px;
    margin-top: 15px;
    border-radius: 15px;

}
