*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.name{
    text-align: center;
    background-color: #B4662D;
    padding: 10px;
}

.navigation {
    position: fixed;
    width: 100%;
}

.nav{
    display: flex;
    align-items: center;
    padding: 20px;


}
nav{
    flex: 1;
    text-align: right;
    background-color: #CDA777;
    padding: 40px;
}
nav ul{
    display: inline-block;
    list-style-type: none;
}
nav ul li{
    display: inline-block;
    margin-right: 20px;
}

.cover img {
    max-width: 100%;
    height: auto;

   
}